/* General Styles */
body {
     font-family: 'Courier New', Courier, monospace;
     margin: 0;
     padding: 0;
     background-color: #000;
     color: #0f0;
}

/* Header Styles */
#header {
     background-color: #333;
     color: #0f0;
     padding: 10px 0;
     text-align: center;
}

.header-title {
     margin: 0;
}

/* Navigation Styles */
#main-nav {
     text-align: center;
     margin: 10px 0;
}

.nav-link {
     margin: 0 15px;
     text-decoration: none;
     color: #0f0;
}

.nav-link:hover {
     text-decoration: underline;
}

/* Table Styles */
#layout-table {
     width: 100%;
     border-collapse: collapse;
     margin: 20px 0;
}

.main-content-cell,
.aside-content-cell {
     vertical-align: top;
     padding: 10px;
}

/* Main Content Styles */
#main-content {
     background-color: #111;
     padding: 20px;
     border: 1px solid #333;
     border-radius: 4px;
}

.article-image {
     max-width: 100%;
     height: auto;
     display: block;
     margin: 0 auto;
}

.article-title {
     margin-top: 0;
     color: #0f0;
}

.article-paragraph {
     text-align: justify;
}

/* Aside Styles */
#recent-posts {
     background-color: #111;
     padding: 20px;
     border: 1px solid #333;
     border-radius: 4px;
}

.aside-article {
     margin-bottom: 20px;
}

.aside-image {
     float: left;
     margin-right: 10px;
}

.aside-title,
.aside-article-title {
     margin-top: 0;
     color: #0f0;
}

.aside-article-paragraph {
     text-align: justify;
}

/* Footer Styles */
#footer {
     background-color: #333;
     color: #0f0;
     text-align: center;
     padding: 10px 0;
     position: fixed;
     width: 100%;
     bottom: 0;
}

.footer-text {
     margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {

     #layout-table,
     #layout-table tr,
     #layout-table td {
          display: block;
          width: 100%;
     }

     .aside-image {
          float: none;
          display: block;
          margin: 0 auto 10px;
     }
}